
<div class="header-section">
	<div class="row header-row">
		<div class="span12 masthead">
			<h1 class="heading">Welcome Home.</h1>
		</div>
	</div>
</div>
<div class="header-push">
</div>

<div>
	<h3><a href="/blog">Check out my blog 1</a></h3>
</div>
